{%  extends 'main/base.html' %}

{% block title %}Generate Bill{% endblock %}

{% block content %}
    <div class="card text-bg-light shadow-lg">
        <div class="card-header">
            <h2 class="display-3 card-title">
                Total Amount Due: ${{ amount_due }}
            </h2>
        </div>
        <div class="card-body">
            <form method="post" class="d-grid gap-2">
                {%  csrf_token %}
                {{ formset.management_form }}
                <p class="text-bg-primary p-5 display-6">
                    How many days did each person spend here during the billing
                    period?
                </p>
                {% for form in formset %}
                    {{ form.name.label }}
                    {{ form.name }}
                    {{ form.days_spent.label }}
                    {{ form.days_spent }}
                {% endfor %}
                <input
                    type="submit"
                    class="btn btn-block btn-secondary"
                    value="Calculate"
                >
            </form>
        </div>
    </div>
{% endblock %}