{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card text-bg-light">
        <div class="text-bg-primary p-5 card-header">
            <p class="display-6 card-title">Take the stress out of splitting the bill!</p>
        </div>
        <div class="card-body">
            <p class="display-6">How many people are sharing this bill?</p>
            <form method="post" class="d-grid gap-2">
                {% csrf_token %}
                {{ form.party_size.label }}
                {{ form.party_size }}
                {{ form.bill_amount.label }}
                {{ form.bill_amount }}
                <input type="submit" class="btn btn-block btn-secondary" value="Next">
            </form>
        </div>
    </div>
{% endblock %}