{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="card text-bg-light shadow-lg">
        <div class="text-bg-primary p-5 card-header">
            <p class="display-6 card-title">Take the stress out of splitting the bill!</p>
        </div>
        <div class="card-body">
            <p class="display-6">How many people are sharing this bill?</p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">
                        {{ form.party_size.label }}
                    </label>
                    {{ form.party_size }}
                    <label class="form-label">
                        {{ form.bill_amount.label }}
                    </label>
                    {{ form.bill_amount }}
                </div>
                <input
                    type="submit"
                    class="btn form-control btn-secondary"
                    value="Next"
                >
            </form>
        </div>
    </div>
{% endblock %}